Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

codecov.yml:

ignore:
  - config/*
  - ironfish-wasm/*
  - ironfish/src/aaptain/testUtilities/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      ironfish-http-api:
        target: 70%
        flags:
          - ironfish-http-api
      ironfish-rosetta-api:
        target: 75%
        flags:
          - ironfish-rosetta-api
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true
  ironfish-http-api:
    paths:
      - ironfish-http-api
    carryforward: true
  ironfish-rosetta-api:
    paths:
      - ironfish-rosetta-api
    carryforward: true

Factor our waiting for node to open
  ironfish-cli/src/commands/start.ts
  ironfish/src/utils/index.ts
  ironfish/src/utils/node.ts
Due: ironfish-cli, ironfish

Point bootstrap back to testnet
  ironfish/src/fileStores/config.ts
Due: ironfish

Bump protocol version from 6 to 7
  ironfish/src/network/version.ts
Due: ironfish

Regenerate genesis block
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/mining/__snapshots__/director.test.slow.ts.snap
  ironfish/src/network/__snapshots__/peerNetwork.test.ts.snap
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__snapshots__/blockheader.test.ts.snap
  ironfish/src/primitives/__snapshots__/nullifier.test.ts.snap
  ironfish/src/primitives/__snapshots__/target.test.ts.snap
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/serde/__snapshots__/Uint8ArraySerde.test.ts.snap
  ironfish/src/telemetry/__snapshots__/submit.test.ts.snap
Due: ironfish

Regenerate fixtures for tests
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/mining/__snapshots__/director.test.slow.ts.snap
  ironfish/src/network/__snapshots__/peerNetwork.test.ts.snap
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__snapshots__/blockheader.test.ts.snap
  ironfish/src/primitives/__snapshots__/nullifier.test.ts.snap
  ironfish/src/primitives/__snapshots__/target.test.ts.snap
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/serde/__snapshots__/Uint8ArraySerde.test.ts.snap
  ironfish/src/telemetry/__snapshots__/submit.test.ts.snap
Due: ironfish

Add scripts to generate the genesis block
  ironfish/package.json
  tools/reset-network-fixtures.sh
  tools/reset-network-genesis.sh
Due: ironfish

feat(ironfish-cli): Add a `local` flag to `accounts:export`
  ironfish-cli/src/commands/accounts/export.test.ts
  ironfish-cli/src/commands/accounts/export.ts
Due: ironfish-cli, ironfish

Clean up tests
  ironfish/src/logger/logLevelParser.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/syncer.ts
Due: ironfish

test(ironfish-cli): Add unit test for `accounts:balance`
  ironfish-cli/src/commands/accounts/balance.test.ts
  ironfish-cli/src/commands/accounts/balance.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit test for `accounts:list`
  ironfish-cli/src/commands/accounts/list.test.ts
Due: ironfish-cli, ironfish

chore: Create `dependabot.yml` to automatically update dependencies
  .github/dependabot.yml
Due: none

Fix ironfish reset by not checking upgrade
  ironfish-cli/src/commands/reset.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/node.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit tests for `accounts:remove`
  ironfish-cli/src/commands/accounts/remove.test.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit test for `accounts:use`
  ironfish-cli/src/commands/accounts/use.test.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit tests for `accounts:which`
  ironfish-cli/src/commands/accounts/which.test.ts
Due: ironfish-cli, ironfish

Remove node modules to build locally on linux
  ironfish-http-api/scripts/build.sh
Due: ironfish, ironfish-http-api

chore: Create `dependabot.yml` to automatically update dependencies (#241)
  .github/dependabot.yml
Due: none

Fix merge
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/fileStores/config.ts
Due: ironfish

Fix merge
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/fileStores/config.ts
Due: ironfish

Remove dependabot
  .github/dependabot.yml
Due: none

test(ironfish-cli): Add unit tests for `accounts:which` (#246)
  ironfish-cli/src/commands/accounts/which.test.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit test for `accounts:use` (#245)
  ironfish-cli/src/commands/accounts/use.test.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit tests for `accounts:remove` (#243)
  ironfish-cli/src/commands/accounts/remove.test.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit test for `accounts:list` (#240)
  ironfish-cli/src/commands/accounts/list.test.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit test for `accounts:balance` (#239)
  ironfish-cli/src/commands/accounts/balance.test.ts
  ironfish-cli/src/commands/accounts/balance.ts
Due: ironfish-cli, ironfish

feat(ironfish-cli): Add a `local` flag to `accounts:export` (#237)
  ironfish-cli/src/commands/accounts/export.test.ts
  ironfish-cli/src/commands/accounts/export.ts
Due: ironfish-cli, ironfish

Fix errorMessage null check
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Show error message and stack in logs
  ironfish-http-api/src/utils/logger.ts
  ironfish-rosetta-api/src/utils/logger.ts
Due: ironfish, ironfish-http-api, ironfish-rosetta-api

Show error message and stack in logs (#249)
  ironfish-http-api/src/utils/logger.ts
  ironfish-rosetta-api/src/utils/logger.ts
Due: ironfish, ironfish-http-api, ironfish-rosetta-api
