Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

codecov.yml:

ignore:
  - config/*
  - ironfish-wasm/*
  - ironfish/src/aaptain/testUtilities/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      ironfish-http-api:
        target: 70%
        flags:
          - ironfish-http-api
      ironfish-rosetta-api:
        target: 75%
        flags:
          - ironfish-rosetta-api
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true
  ironfish-http-api:
    paths:
      - ironfish-http-api
    carryforward: true
  ironfish-rosetta-api:
    paths:
      - ironfish-rosetta-api
    carryforward: true

feat(ironfish-cli): Add a `local` flag to `accounts:export` (#237)
  ironfish-cli/src/commands/accounts/export.test.ts
  ironfish-cli/src/commands/accounts/export.ts
Due: ironfish-cli, ironfish

refactor(ironfish, ironfish-cli): Move `getConnectedClient` under `IronfishSdk` (#252)
  ironfish-cli/src/commands/accounts/export.test.ts
  ironfish-cli/src/commands/accounts/export.ts
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish-cli/src/commands/config/edit.ts
  ironfish-cli/src/commands/config/get.ts
  ironfish-cli/src/commands/config/set.ts
  ironfish-cli/src/commands/config/show.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

chore(ironfish): Update `eslint-plugin` and `parser` (#270)
  ironfish/package.json
  yarn.lock
Due: ironfish

Run miner task on WorkerPool
  ironfish-cli/src/commands/miners/start.ts
  ironfish/package.json
  ironfish/src/mining/director.ts
  ironfish/src/mining/index.ts
  ironfish/src/mining/mineHeaderTask.test.ts
  ironfish/src/mining/mineHeaderTask.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit test for `accounts:list` (#240)
  ironfish-cli/src/commands/accounts/list.test.ts
Due: ironfish-cli, ironfish

Revert "Bump database schema versions"
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Revert "Bump network protocol version to 8"
  ironfish/src/network/version.ts
Due: ironfish

Revert "Update fixtures"
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/__snapshots__/blockheader.test.ts.snap
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
  ironfish/src/testUtilities/fake/strategy.ts
Due: ironfish

feat(ironfish-http-api): Add Procfile for Heroku deployments
  ironfish-http-api-v2/Procfile
  ironfish-http-api-v2/package.json
  ironfish-http-api-v2/tsconfig.json
  yarn.lock
Due: ironfish, ironfish-http-api

Fix director not mining on change head
  ironfish/src/blockchain/blockchain.old.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/mining/director.ts
  ironfish/src/rpc/routes/chain/getBlock.test.ts
Due: ironfish

feat(ironfish-http-api): Add Procfile for Heroku deployments (#273)
  ironfish-http-api-v2/Procfile
  ironfish-http-api-v2/package.json
  ironfish-http-api-v2/tsconfig.json
  yarn.lock
Due: ironfish, ironfish-http-api

Fix biasing of array shuffling
  ironfish/src/utils/array.ts
Due: ironfish

Shuffle peers list before attempting connections
  ironfish/src/network/peers/peerConnectionManager.ts
Due: ironfish

Abstract our partial header serializer
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/mining/__fixtures__/director.old.test.slow.ts.fixture
  ironfish/src/mining/__snapshots__/director.old.test.slow.ts.snap
  ironfish/src/mining/director.old.test.slow.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/serde/PartialHeaderSerde.ts
Due: ironfish

feat(http-api): Add config for Prisma and Postgres
  ironfish-http-api-v2/.gitignore
  ironfish-http-api-v2/docker-compose.sql
  ironfish-http-api-v2/docker-compose.yml
  ironfish-http-api-v2/package.json
  ironfish-http-api-v2/prisma/schema.prisma
  yarn.lock
Due: ironfish, ironfish-http-api

Remove fake strategy from mining director tests
  ironfish/src/account/accounts.ts
  ironfish/src/memPool/memPool.old.test.slow.ts
  ironfish/src/mining/__fixtures__/director.old.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/mining/__snapshots__/director.old.test.slow.ts.snap
  ironfish/src/mining/director.old.test.slow.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/mining/director.ts
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/tests.ts
  ironfish/src/testUtilities/helpers/transaction.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

Bump network protocol version to 8
  ironfish/src/network/version.ts
Due: ironfish

Bump database schema versions
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

feat(http-api): Add deploy script
  .github/workflows/deploy-api-v2.yml
Due: none

Remove fake strategy from mining director tests (#278)
  ironfish/src/account/accounts.ts
  ironfish/src/memPool/memPool.old.test.slow.ts
  ironfish/src/mining/__fixtures__/director.old.test.slow.ts.fixture
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/mining/__snapshots__/director.old.test.slow.ts.snap
  ironfish/src/mining/director.old.test.slow.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/mining/director.ts
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/tests.ts
  ironfish/src/testUtilities/helpers/transaction.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

fix(http-api): Update heroku remote in staging API deploy
  .github/workflows/deploy-api-v2.yml
Due: none

fix(http-api): Update heroku remote in staging API deploy (#282)
  .github/workflows/deploy-api-v2.yml
Due: none

Rename tests with fake strategy to old
  ironfish/src/consensus/__fixtures__/verifier.old.test.ts.fixture
  ironfish/src/consensus/verifier.old.test.ts
  ironfish/src/merkletree/merkletree.old.test.ts
  ironfish/src/primitives/__fixtures__/block.old.test.ts.fixture
  ironfish/src/primitives/__snapshots__/blockheader.old.test.ts.snap
  ironfish/src/primitives/block.old.test.ts
  ironfish/src/primitives/blockheader.old.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.old.test.ts
Due: ironfish

fix(http-api): Add heroku.com to known hosts
  .github/workflows/deploy-api-v2.yml
Due: none

fix(http-api): Add heroku.com to known hosts (#283)
  .github/workflows/deploy-api-v2.yml
Due: none

fix(http-api): Add webfactory ssh agent with private key before deploy
  .github/workflows/deploy-api-v2.yml
Due: none

Upgrade block.test.ts with real tests
  ironfish/src/primitives/__fixtures__/block.old.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

Add graffiti utils
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/mining/director.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/utils/graffiti.ts
  ironfish/src/utils/index.ts
Due: ironfish-cli, ironfish

Rewrite BlockHeader to not use TestStrategy
  ironfish/src/primitives/__snapshots__/blockheader.test.ts.snap
  ironfish/src/primitives/blockheader.old.test.ts
  ironfish/src/primitives/blockheader.test.ts
Due: ironfish
