Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

refactor: Remove API v2 package (#303)
  .github/workflows/ci.yml
  .github/workflows/deploy-api-v2.yml
  ironfish-http-api-v2/.env.test
  ironfish-http-api-v2/Procfile
  ironfish-http-api-v2/docker-compose.sql
  ironfish-http-api-v2/docker-compose.yml
  ironfish-http-api-v2/prisma/migrations/20210709125357_create_accounts/migration.sql
  ironfish-http-api-v2/prisma/migrations/20210709171941_create_events/migration.sql
  ironfish-http-api-v2/prisma/migrations/migration_lock.toml
  ironfish-http-api-v2/prisma/schema.prisma
  ironfish-http-api-v2/src/accounts/__snapshots__/accounts.controller.test.ts.snap
  ironfish-http-api-v2/src/accounts/accounts.controller.test.ts
  ironfish-http-api-v2/src/accounts/accounts.controller.ts
  ironfish-http-api-v2/src/accounts/accounts.module.ts
  ironfish-http-api-v2/src/accounts/accounts.service.test.ts
  ironfish-http-api-v2/src/accounts/accounts.service.ts
  ironfish-http-api-v2/src/accounts/dto/metrics-query.dto.ts
  ironfish-http-api-v2/src/accounts/enums/metrics-granularity.ts
  ironfish-http-api-v2/src/common/constants.ts
  ironfish-http-api-v2/src/common/interfaces/pagination-options.ts
  ironfish-http-api-v2/src/events/events.module.ts
  ironfish-http-api-v2/src/events/events.service.test.ts
  ironfish-http-api-v2/src/events/events.service.ts
  ironfish-http-api-v2/src/events/interfaces/list-events-options.ts
  ironfish-http-api-v2/src/prisma/prisma.module.ts
  ironfish-http-api-v2/src/prisma/prisma.service.ts
Due: ironfish, ironfish-http-api

Remove test strategy from verifier.test (#302)
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
Due: ironfish

Remove TestStrategy from blockchain.old.test (#304)
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
Due: ironfish

Use node-datachannel instead of simple-peer (#244)
  yarn.lock
Due: none

Delete TestStrategy and usages (#306)
  ironfish/src/memPool/memPool.old.test.slow.ts
Due: ironfish

Remove generics (#310)
  ironfish/src/consensus/verifier.test.ts
Due: ironfish

Added validation on account import.
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish/src/account/account-validator.test.ts
  ironfish/src/account/account-validator.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/index.ts
Due: ironfish-cli, ironfish

To reduce the risk of importing an invalid account, there should be some basic validation that the keys are correct.
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/index.ts
  ironfish/src/account/validator.test.ts
  ironfish/src/account/validator.ts
Due: ironfish-cli, ironfish

Add miners:mined command
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/chain/repair.ts
  ironfish-cli/src/commands/miners/mined.ts
  ironfish-cli/src/types.ts
  ironfish-cli/src/utils/index.ts
  ironfish-cli/src/utils/terminal.ts
  ironfish/src/primitives/block.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
  ironfish/src/rpc/routes/mining/index.ts
  ironfish/src/utils/blockchain.ts
Due: ironfish-cli, ironfish

Add mempool status to status command
  ironfish-cli/src/commands/status.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Add miners:mined command (#324)
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/chain/repair.ts
  ironfish-cli/src/commands/miners/mined.ts
  ironfish-cli/src/types.ts
  ironfish-cli/src/utils/index.ts
  ironfish-cli/src/utils/terminal.ts
  ironfish/src/primitives/block.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
  ironfish/src/rpc/routes/mining/index.ts
  ironfish/src/utils/blockchain.ts
Due: ironfish-cli, ironfish

Change mining message in miner
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

Change mining message in miner (#326)
  ironfish-cli/src/commands/miners/start.ts
Due: ironfish-cli, ironfish

Add estimate to api syncer
  ironfish-cli/src/commands/chain/sync.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish-cli, ironfish

Add API block syncer
  ironfish-cli/package.json
  ironfish-cli/src/api.ts
  ironfish-cli/src/commands/chain/export.ts
  ironfish-cli/src/commands/chain/sync.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/chain/exportChain.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/index.ts
  yarn.lock
Due: ironfish-cli, ironfish

Add batching to api sync
  ironfish-cli/src/api.ts
  ironfish-cli/src/commands/chain/sync.ts
  ironfish/src/rpc/clients/rpcClient.ts
Due: ironfish-cli, ironfish

Disable faucet command for now
  ironfish-cli/src/commands/faucet.test.ts
  ironfish-cli/src/commands/faucet.ts
  ironfish/src/fileStores/config.ts
Due: ironfish-cli, ironfish

Update faucet tests
  ironfish-cli/src/commands/faucet.test.ts
Due: ironfish-cli, ironfish

Allow for request origins outside of ironfish domain
  ironfish-rosetta-api/src/server/server.ts
Due: ironfish, ironfish-rosetta-api

IRO-954: Remove unused config variable
  ironfish-rosetta-api/src/server/server.ts
Due: ironfish, ironfish-rosetta-api

IRO-954: Allow for Cross-Site Origin on Public API (#331)
  ironfish-rosetta-api/src/server/server.ts
Due: ironfish, ironfish-rosetta-api

Add restore command
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish-cli/src/commands/restore.ts
Due: ironfish-cli, ironfish

WIP
  ironfish-cli/src/commands/chain/block.ts
  ironfish-cli/src/commands/miners/mined.ts
  ironfish-cli/src/commands/restore.ts
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/mining/director.ts
  ironfish/src/rpc/clients/ipcClient.ts
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Make block-info command work offline
  ironfish-cli/src/commands/chain/block.ts
Due: ironfish-cli, ironfish

Send transactions back in block-info command
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
Due: ironfish

Add test for transaction hashes
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/primitives/transaction.test.slow.ts
Due: ironfish

Improve mined command usability
  ironfish-cli/src/commands/miners/mined.ts
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/clients/ipcClient.ts
  ironfish/src/rpc/clients/memoryClient.ts
  ironfish/src/rpc/routes/mining/exportMined.ts
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish: any of: ironfish, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-http-api: any of: ironfish-http-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-rosetta-api: any of: ironfish-rosetta-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
