Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Add expiration sequence to new Rust native package
  ironfish-rust-nodejs/index.d.ts
  ironfish-rust-nodejs/index.ts
  ironfish-rust-nodejs/src/lib.rs
  ironfish-rust-nodejs/src/structs/transaction.rs
  ironfish-rust-nodejs/tsconfig.tsbuildinfo
  ironfish-rust/src/transaction/mod.rs
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

cleanup-typing-in-messages: cleanup-typing-in-messages: Adjust loose message type (#396)
  ironfish/src/network/messages.ts
Due: ironfish

Allow getBlockInfo() RPC to search by sequence (#398)
  ironfish-cli/src/commands/chain/block.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
Due: ironfish-cli, ironfish

Fix rescan starting at current head (#404)
  ironfish/src/account/accounts.ts
Due: ironfish

Make version more prominent in start and status (#405)
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish-cli, ironfish

IRO-1191: Create PeerListRequest Message Type and Handler (#401)
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/version.ts
Due: ironfish

Move ChainProcessor into its own file (#420)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/index.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

refactor(ironfish,cli,wasm): Remove `transaction` prefix from `transactionFee` (#419)
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/service/faucet.ts
  ironfish-wasm/src/wasm_structs/transaction.rs
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/director.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/workerPool/tasks/transactionFee.ts
  ironfish/src/workerPool/tasks/verifyTransaction.ts
Due: ironfish-cli, ironfish

Add test for ChainProcessor (#421)
  ironfish/src/chainProcessor.test.ts
  ironfish/src/chainProcessor.ts
Due: ironfish

Remove "Balance" suffix from result of getBalance() (#430)
  ironfish-cli/src/commands/accounts/balance.test.ts
  ironfish-cli/src/commands/accounts/balance.ts
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/service/faucet.ts
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/rpc/routes/accounts/getBalance.ts
  ironfish/src/rpc/routes/accounts/removeAccount.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish-cli, ironfish

IRO-1193: Implement PeerAddress and AddressManager - Part 1 (#408)
  ironfish/src/fileStores/hosts.ts
  ironfish/src/network/messageRouters/fireAndForget.test.ts
  ironfish/src/network/messageRouters/globalRpc.test.ts
  ironfish/src/network/messageRouters/gossip.test.ts
  ironfish/src/network/messageRouters/rpc.test.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/addressManager.test.ts
  ironfish/src/network/peers/addressManager.ts
  ironfish/src/network/peers/peerAddress.ts
  ironfish/src/network/peers/peerConnectionManager.test.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/index.ts
  ironfish/src/network/testUtilities/mockHostsStore.ts
  ironfish/src/node.ts
  ironfish/src/sdk.ts
Due: ironfish

Send peer list to connected peers instead of identified peers (#429)
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Update `set_expiration_sequence` to camelCase
  ironfish-rust-nodejs/index.ts
  ironfish-rust-nodejs/tsconfig.json
  ironfish/src/workerPool/tasks/createTransaction.ts
Due: ironfish-rust, ironfish

Bump version to 0.1.2
  ironfish/package.json
Due: ironfish

Make transform take AsyncIterable instead
  ironfish/src/utils/async.ts
Due: ironfish

Refactor miner
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/director.ts
  ironfish/src/mining/index.ts
  ironfish/src/mining/mineHeader.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
  ironfish/src/utils/async.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
Due: ironfish-cli, ironfish

Fix setExpirationSequence
  ironfish-rust-nodejs/index.ts
  ironfish/src/serde/PartialHeaderSerde.ts
Due: ironfish-rust, ironfish

Fix ironfish-rust-nodejs gitignore
  .gitignore
Due: none

Upgrade Node.js version to 16
  .github/workflows/ci.yml
  .github/workflows/deploy-brew.yml
  README.md
  ironfish-cli/Dockerfile
  ironfish-cli/package.json
Due: ironfish-cli, ironfish

WIP
  ironfish/src/mining/miner.test.ts
Due: ironfish

Upgrade node-datachannel to 0.1.12
  ironfish/package.json
  yarn.lock
Due: ironfish

Refactor miner
  ironfish-cli/src/commands/miners/start.ts
  ironfish/package.json
  ironfish/src/mining/director.ts
  ironfish/src/mining/index.ts
  ironfish/src/mining/mineHeader.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
  ironfish/src/utils/async.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
  yarn.lock
Due: ironfish-cli, ironfish

Remove platform check during preinstall phase
  package.json
  tools/node-platform-check.js
Due: none

Remove isWorker/broadcastWorker code
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/node.ts
Due: ironfish-cli, ironfish

Try to fix circular dependency
  ironfish/package.json
  ironfish/src/mining/index.ts
  ironfish/src/mining/mineHeader.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
  yarn.lock
Due: ironfish

Merge pull request #445 from iron-fish/miner-status
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/director.ts
  ironfish/src/mining/index.ts
  ironfish/src/mining/mineHeader.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
  ironfish/src/utils/async.ts
  ironfish/src/workerPool/tasks/mineHeader.ts
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish: any of: ironfish, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-http-api: any of: ironfish-http-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-rosetta-api: any of: ironfish-rosetta-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
