Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

feat(api): Add metrics endpoint with validation only (#301)
  ironfish-http-api-v2/package.json
  ironfish-http-api-v2/src/accounts/__snapshots__/accounts.controller.test.ts.snap
  ironfish-http-api-v2/src/accounts/accounts.controller.test.ts
  ironfish-http-api-v2/src/accounts/accounts.controller.ts
  ironfish-http-api-v2/src/accounts/dto/metrics-query.dto.ts
  ironfish-http-api-v2/src/accounts/enums/metrics-granularity.ts
  yarn.lock
Due: ironfish, ironfish-http-api

Add flag for logging per-peer network traffic
  ironfish-cli/src/commands/peers/show.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/node.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/peers/getPeer.ts
  ironfish/src/rpc/routes/peers/getPeerMessages.ts
  ironfish/src/rpc/routes/peers/getPeers.ts
  ironfish/src/rpc/routes/peers/index.ts
Due: ironfish-cli, ironfish

Add flag for logging per-peer network traffic (#295)
  ironfish-cli/src/commands/peers/show.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/node.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/peers/getPeer.ts
  ironfish/src/rpc/routes/peers/getPeerMessages.ts
  ironfish/src/rpc/routes/peers/getPeers.ts
  ironfish/src/rpc/routes/peers/index.ts
Due: ironfish-cli, ironfish

Refactor WebRTCConnection to use node-datachannel
  ironfish/src/network/peers/connections/webRtcConnection.ts
Due: ironfish

Update tests
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peerConnectionManager.test.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/testUtilities/helpers.ts
  ironfish/src/network/testUtilities/mockLocalPeer.ts
Due: ironfish

Replace simple-peer and wrtc with node-datachannel
  ironfish-cli/package.json
  ironfish/package.json
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/types.ts
  ironfish/src/node.ts
  ironfish/src/sdk.ts
  yarn.lock
Due: ironfish-cli, ironfish

Add to README
  README.md
Due: none

Fix some lints
  ironfish/jest.setup.env.js
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peerConnectionManager.test.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Remove simple-peer types
  ironfish/package.json
  yarn.lock
Due: ironfish

Set peer status to SIGNALING when emitting signals
  ironfish/src/network/peers/connections/webRtcConnection.ts
Due: ironfish

Remove test strategy from verifier.test
  ironfish/src/consensus/__fixtures__/verifier.old.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.old.test.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

Remove test strategy from verifier.test (#302)
  ironfish/src/consensus/__fixtures__/verifier.old.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.old.test.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

Remove TestStrategy from blockchain.old.test
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.old.test.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/target.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

Remove TestStrategy from blockchain.old.test (#304)
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.old.test.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/target.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

Update yarn.lock
  yarn.lock
Due: none

Start handshake timeout in CONNECTING state
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/errors.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

Use node-datachannel instead of simple-peer (#244)
  README.md
  ironfish-cli/package.json
  ironfish/jest.setup.env.js
  ironfish/package.json
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/connections/connection.ts
  ironfish/src/network/peers/connections/errors.ts
  ironfish/src/network/peers/connections/webRtcConnection.ts
  ironfish/src/network/peers/connections/webSocketConnection.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peerConnectionManager.test.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/helpers.ts
  ironfish/src/network/testUtilities/mockLocalPeer.ts
  ironfish/src/network/types.ts
  ironfish/src/node.ts
  ironfish/src/sdk.ts
  yarn.lock
Due: ironfish-cli, ironfish

Try node-datachannel Docker build
  ironfish-cli/Dockerfile
Due: ironfish-cli, ironfish

Try node-datachannel Docker build (#305)
  ironfish-cli/Dockerfile
Due: ironfish-cli, ironfish

Try fixing a brew audit error
  ironfish-cli/scripts/build.sh
Due: ironfish-cli, ironfish

Delete TestStrategy and usages
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/memPool/memPool.old.test.slow.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/fake/helpers/index.ts
  ironfish/src/testUtilities/fake/index.test.ts
  ironfish/src/testUtilities/fake/index.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/testUtilities/fake/verifier.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

Try fixing a brew audit error (#308)
  ironfish-cli/scripts/build.sh
Due: ironfish-cli, ironfish

Delete TestStrategy and usages (#306)
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/memPool/memPool.old.test.slow.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/fake/helpers/index.ts
  ironfish/src/testUtilities/fake/index.test.ts
  ironfish/src/testUtilities/fake/index.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/testUtilities/fake/verifier.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

Add cmake and updated gcc/libc to fix node-datachannel builds
  ironfish-cli/Dockerfile
Due: ironfish-cli, ironfish

Add cmake and updated gcc/libc to fix node-datachannel builds (#309)
  ironfish-cli/Dockerfile
Due: ironfish-cli, ironfish

Add ironfish bin to path
  ironfish-cli/Dockerfile
Due: ironfish-cli, ironfish

Add ironfish bin to path (#307)
  ironfish-cli/Dockerfile
Due: ironfish-cli, ironfish

Add support for running commands offline
  ironfish-cli/src/commands/accounts/balance.ts
  ironfish-cli/src/commands/accounts/create.test.ts
  ironfish-cli/src/commands/accounts/create.ts
  ironfish-cli/src/commands/accounts/export.test.ts
  ironfish-cli/src/commands/accounts/export.ts
  ironfish-cli/src/commands/accounts/import.ts
  ironfish-cli/src/commands/accounts/list.test.ts
  ironfish-cli/src/commands/accounts/list.ts
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/accounts/publickey.ts
  ironfish-cli/src/commands/accounts/remove.test.ts
  ironfish-cli/src/commands/accounts/remove.ts
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish-cli/src/commands/accounts/use.test.ts
  ironfish-cli/src/commands/accounts/use.ts
  ironfish-cli/src/commands/accounts/which.test.ts
  ironfish-cli/src/commands/accounts/which.ts
  ironfish-cli/src/commands/config/edit.ts
  ironfish-cli/src/commands/config/get.ts
  ironfish-cli/src/commands/config/set.ts
  ironfish-cli/src/commands/config/show.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
  ironfish/src/strategy.ts
Due: ironfish-cli, ironfish

Make account name in export command optional
  ironfish-cli/src/commands/accounts/export.ts
Due: ironfish-cli, ironfish

Add support for running commands offline (#311)
  ironfish-cli/src/commands/accounts/balance.ts
  ironfish-cli/src/commands/accounts/create.test.ts
  ironfish-cli/src/commands/accounts/create.ts
  ironfish-cli/src/commands/accounts/export.test.ts
  ironfish-cli/src/commands/accounts/export.ts
  ironfish-cli/src/commands/accounts/import.ts
  ironfish-cli/src/commands/accounts/list.test.ts
  ironfish-cli/src/commands/accounts/list.ts
  ironfish-cli/src/commands/accounts/pay.test.ts
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/accounts/publickey.ts
  ironfish-cli/src/commands/accounts/remove.test.ts
  ironfish-cli/src/commands/accounts/remove.ts
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish-cli/src/commands/accounts/use.test.ts
  ironfish-cli/src/commands/accounts/use.ts
  ironfish-cli/src/commands/accounts/which.test.ts
  ironfish-cli/src/commands/accounts/which.ts
  ironfish-cli/src/commands/config/edit.ts
  ironfish-cli/src/commands/config/get.ts
  ironfish-cli/src/commands/config/set.ts
  ironfish-cli/src/commands/config/show.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
  ironfish/src/strategy.ts
Due: ironfish-cli, ironfish

Add miner information to status command
  ironfish-cli/src/commands/status.ts
  ironfish/src/mining/director.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Add miner information to status command (#312)
  ironfish-cli/src/commands/status.ts
  ironfish/src/mining/director.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
Due: ironfish-cli, ironfish

Move export chain logic to RPC route
  ironfish-cli/src/commands/chain/export.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/chain/exportChain.ts
  ironfish/src/rpc/routes/chain/index.ts
  ironfish/src/utils/async.ts
Due: ironfish-cli, ironfish

Fix account rescan
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
Due: ironfish-cli, ironfish

Line up balance in balance command
  ironfish-cli/src/commands/accounts/balance.ts
Due: ironfish-cli, ironfish

Make ironfish reset wait for node to close
  ironfish-cli/src/commands/reset.ts
  ironfish/src/utils/node.ts
Due: ironfish-cli, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish: any of: ironfish, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-http-api: any of: ironfish-http-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-rosetta-api: any of: ironfish-rosetta-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
