Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Add --threads to miners:start command
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
Due: ironfish-cli, ironfish

Add --workers and nodeWorkers config
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/node.ts
Due: ironfish-cli, ironfish

Add license scan report and status
  README.md
Due: none

Fix signals firing twice when running through yarn
  ironfish-cli/src/command.ts
Due: ironfish-cli, ironfish

Wait for all promises to resolve or reject before shutting down
  ironfish/src/node.ts
Due: ironfish

Wait for account updates to finish before shutting down
  ironfish/src/account/accounts.ts
Due: ironfish

Remove running from ScanState
  ironfish/src/account/accounts.ts
Due: ironfish

Set aborted to true instead of false in abort()
  ironfish/src/account/accounts.ts
Due: ironfish

Return runningPromise directly from wait()
  ironfish/src/account/accounts.ts
Due: ironfish

Exchange chain info in networking handshake (#92)
  ironfish-cli/src/commands/peers/list.ts
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/mockLocalPeer.ts
  ironfish/src/network/version.ts
  ironfish/src/platform.ts
  ironfish/src/rpc/routes/peers/getPeers.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish-cli, ironfish

Refactor block syncing (#100)
  ironfish/src/blockSyncer.test.ts
  ironfish/src/blockSyncer.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/director.ts
  ironfish/src/network/__snapshots__/peerNetwork.test.ts.snap
  ironfish/src/network/messageRouters/gossip.test.ts
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/version.ts
  ironfish/src/node.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/rpc/routes/peers/getPeers.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/testUtilities/mocks.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
  ironfish/src/utils/error.ts
  ironfish/src/utils/math.ts
Due: ironfish

Add --workers and nodeWorkers config (#124)
  ironfish-cli/src/commands/start.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/node.ts
Due: ironfish-cli, ironfish

Unbind WebSocket event handlers when closing the connection
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

Add --threads to miners:start command (#123)
  ironfish-cli/src/commands/miners/start.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
Due: ironfish-cli, ironfish

Reduce deserializations when adding transactions (#129)
  ironfish/src/account/accounts.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/network/peerNetwork.ts
Due: ironfish

Fix signals firing twice when running through yarn (#131)
  ironfish-cli/src/command.ts
Due: ironfish-cli, ironfish

Unbind WebSocket event handlers when closing the connection (#136)
  ironfish/src/network/peers/connections/webSocketConnection.ts
Due: ironfish

Fix abort() not setting aborted in ScanState (#134)
  ironfish/src/account/accounts.ts
Due: ironfish

Wait for all promises to resolve or reject before shutting down (#132)
  ironfish/src/node.ts
Due: ironfish

Add toAddBlock matcher
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
Due: ironfish

Add toAddBlock matcher (#137)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
Due: ironfish

Refactor blockchain.addBlock
  ironfish/src/assert.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/schema.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/node.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/typedefs/blru.ts
  ironfish/src/typedefs/buffer-map.d.ts
  ironfish/src/utils/hash.ts
Due: ironfish

Refactor blockchain.addBlock (#135)
  ironfish/src/assert.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/schema.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/node.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/typedefs/blru.ts
  ironfish/src/typedefs/buffer-map.d.ts
  ironfish/src/utils/hash.ts
Due: ironfish

Add more tests for new blockchain add
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Add hash to next table
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/schema.ts
Due: ironfish

Remove BlockChain.getHeaviestHead()
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.old.test.ts
  ironfish/src/blockchain/blockchain.test.perf.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/rpc/routes/chain/getChainInfo.test.ts
  ironfish/src/rpc/routes/chain/getChainInfo.ts
  ironfish/src/rpc/routes/mining/newBlocksStream.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

Wait for account updates to finish before shutting down (#133)
  ironfish/src/account/accounts.ts
Due: ironfish

Remove BlockChain.getLatestHeader()
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/chain/getChainInfo.test.ts
  ironfish/src/rpc/routes/chain/getChainInfo.ts
Due: ironfish

Refactor iteration with new tables
  ironfish/src/account/accounts.test.ts
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

WIP
  ironfish-cli/src/commands/chain/export.ts
  ironfish-cli/src/commands/chain/readd.ts
  ironfish-graph-explorer/src/data.json
  ironfish-graph-explorer/src/index.js
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/syncer.ts
Due: ironfish-cli, ironfish

Add more tests for new blockchain add (#138)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Add hash to next table (#139)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/schema.ts
Due: ironfish

Switch simple-peer to iron-fish fork
  ironfish/package.json
  yarn.lock
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish: any of: ironfish, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-http-api: any of: ironfish-http-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-rosetta-api: any of: ironfish-rosetta-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
