Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

codecov.yml:

ignore:
  - config/*
  - ironfish-wasm/*
  - ironfish/src/aaptain/testUtilities/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      ironfish-http-api:
        target: 70%
        flags:
          - ironfish-http-api
      ironfish-rosetta-api:
        target: 75%
        flags:
          - ironfish-rosetta-api
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true
  ironfish-http-api:
    paths:
      - ironfish-http-api
    carryforward: true
  ironfish-rosetta-api:
    paths:
      - ironfish-rosetta-api
    carryforward: true

Fix balance.test.ts (#380)
  ironfish-cli/src/commands/accounts/balance.test.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit test for `accounts:balance` (#239)
  ironfish-cli/src/commands/accounts/balance.test.ts
Due: ironfish-cli, ironfish

Fix MemoryAdapter not handling ResponseError
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/routes/accounts/create.test.slow.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
Due: ironfish

Refactor GetFunds API
  ironfish-cli/src/commands/faucet.test.ts
  ironfish-cli/src/commands/faucet.ts
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/routes/faucet/getFunds.test.ts
  ironfish/src/rpc/routes/faucet/getFunds.ts
Due: ironfish-cli, ironfish

Add faucet runner command
  ironfish-cli/src/commands/chain/faucet.ts
  ironfish/src/rpc/adapters/errors.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/utils/types.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Rename RPC giveMe to getFunds
  ironfish-cli/src/commands/faucet.test.ts
  ironfish-cli/src/commands/faucet.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/faucet/getFunds.test.ts
  ironfish/src/rpc/routes/faucet/getFunds.ts
  ironfish/src/rpc/routes/faucet/index.ts
Due: ironfish-cli, ironfish

Move faucet and sync into new services commands
  ironfish-cli/src/commands/service/faucet.ts
  ironfish-cli/src/commands/service/sync.ts
Due: ironfish-cli, ironfish

IRO-1184: Remove verbosity and add handler for process close
  ironfish-cli/src/commands/backup.ts
Due: ironfish-cli, ironfish

IRO-1186: Improve comment
  ironfish/src/syncer.ts
Due: ironfish

Remove unused config project
  lerna.json
  package.json
Due: none

IRO-1186: Sync from random higher-work peer instead of highest-work peer
  ironfish/src/syncer.ts
Due: ironfish

IRO-1179: Logs, logs everywhere
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
Due: ironfish

IRO-1179: Add temporary --all [limit] flag to reverify
  ironfish-cli/src/commands/chain/reverify.ts
Due: ironfish-cli, ironfish

Retype spend from WasmNoteEncryptedHash to Buffer
  ironfish/src/primitives/spend.ts
Due: ironfish

Retype spend from WasmNoteEncryptedHash to Buffer (#390)
  ironfish/src/primitives/spend.ts
Due: ironfish

Removed dependency on NodeJS types
  ironfish/src/metrics/meter.ts
Due: ironfish

IRO-1179 Fix invalid spend error when reorganizing fork
  ironfish-cli/src/commands/chain/repair.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/node.ts
  ironfish/src/rpc/routes/chain/utils.ts
  ironfish/src/rpc/routes/events/utils.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

Add @types/node to ironfish-cli
  ironfish-cli/package.json
  yarn.lock
Due: ironfish-cli, ironfish

Add test for invalid spend issue
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

Update comment
  ironfish/src/consensus/verifier.ts
Due: ironfish

Revert dataDir
  ironfish/src/node.ts
  ironfish/src/sdk.ts
Due: ironfish

Fix test
  ironfish-cli/src/commands/start.test.ts
Due: ironfish-cli, ironfish

Bump version to 0.1.1
  ironfish/package.json
Due: ironfish

IRO-1185: Add test to validate error when block does not have minersFee
  ironfish/src/primitives/block.test.ts
Due: ironfish

Fix blockchain test
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
Due: ironfish

IRO-1179 Fix invalid spend error when reorganizing fork (#393)
  ironfish-cli/src/commands/chain/repair.ts
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/rpc/routes/chain/utils.ts
  ironfish/src/rpc/routes/events/utils.ts
Due: ironfish-cli, ironfish
