Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Fix brew login token
  .github/workflows/deploy-node-github-beta.yml
  .github/workflows/deploy-node-github.yml
Due: none

decrease-max-upload-in-sync: Adjust MAX_UPLOAD on sync to play nicely with API
  ironfish-cli/src/commands/chain/sync.ts
Due: ironfish-cli, ironfish

Update syncer API doc strings
  ironfish-cli/src/api.ts
  ironfish-cli/src/commands/chain/sync.ts
Due: ironfish-cli, ironfish

decrease-max-upload-in-sync: Add clearer instantiation as per @brekk
  ironfish-cli/src/commands/chain/sync.ts
Due: ironfish-cli, ironfish

Change blockchain.progress -> blockchain.getProgress()
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Minor cleanup removing renderedHash
  ironfish/src/memPool/memPool.ts
Due: ironfish

Update readme to link to other public repositories
  README.md
Due: none

IRO-1142: Increase timeblock to 60 seconds
  ironfish/src/consensus/consensus.ts
  ironfish/src/primitives/target.ts
Due: ironfish

IRO-1142: Fix lint issue
  ironfish/src/primitives/target.test.ts
Due: ironfish

IRO-1142: Fix target tests
  ironfish/src/consensus/consensus.ts
  ironfish/src/primitives/target.test.ts
Due: ironfish

IRO-1142: Updated tests
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
Due: ironfish

IRO-1142: Increase timeblock to 60 seconds
  ironfish/src/primitives/target.test.ts
Due: ironfish

IRO-1142: Increase timeblock to 60 seconds
  ironfish/src/consensus/consensus.ts
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
Due: ironfish

IRO-1142: Sync staging with master
  ironfish-cli/src/commands/accounts/balance.test.ts
Due: ironfish-cli, ironfish

Add faucet email flag
  ironfish-cli/src/commands/faucet.ts
Due: ironfish-cli, ironfish

Enable faucet and point to new production API
  ironfish-cli/src/commands/faucet.ts
  ironfish/src/fileStores/config.ts
  ironfish/src/rpc/routes/faucet/giveMe.test.ts
  ironfish/src/rpc/routes/faucet/giveMe.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish-cli, ironfish

Upgraded and cleaned up faucet command
  ironfish-cli/src/commands/chain/sync.ts
  ironfish-cli/src/commands/faucet.ts
  ironfish/src/index.ts
  ironfish/src/rpc/adapters/memoryAdapter.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/faucet/getFunds.test.ts
  ironfish/src/rpc/routes/faucet/getFunds.ts
  ironfish/src/rpc/routes/faucet/index.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

Move IronfishApi to core lib as WebApi
  ironfish-cli/src/commands/chain/sync.ts
  ironfish/src/index.ts
  ironfish/src/webApi.ts
Due: ironfish-cli, ironfish

test(ironfish-cli): Add unit test for `accounts:balance` (#239)
  ironfish-cli/src/commands/accounts/balance.test.ts
Due: ironfish-cli, ironfish

Fix balance.test.ts
  ironfish-cli/src/commands/accounts/balance.test.ts
Due: ironfish-cli, ironfish

Fix balance.test.ts (#380)
  ironfish-cli/src/commands/accounts/balance.test.ts
Due: ironfish-cli, ironfish

IRO-1170: Add isMinersFee method to transaction class
  ironfish/src/primitives/transaction.ts
Due: ironfish

IRO-1170: Add condition into isMinersFee method to check transaction fee equals or less 0
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

IRO-1170: Add tests for transaction is miner fees
  ironfish/src/primitives/transaction.test.slow.ts
Due: ironfish

IRO-1170: Add isMinersFee method to transaction class (#376)
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transaction.ts
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish: any of: ironfish, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-http-api: any of: ironfish-http-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-rosetta-api: any of: ironfish-rosetta-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
