Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Remove ignore-scripts from api builds
  ironfish-http-api/Dockerfile
  ironfish-http-api/scripts/build.sh
  ironfish-rosetta-api/Dockerfile
  ironfish-rosetta-api/scripts/build.sh
Due: ironfish, ironfish-http-api, ironfish-rosetta-api

Remove ignore-scripts from api builds (#250)
  ironfish-http-api/Dockerfile
  ironfish-http-api/scripts/build.sh
  ironfish-rosetta-api/Dockerfile
  ironfish-rosetta-api/scripts/build.sh
Due: ironfish, ironfish-http-api, ironfish-rosetta-api

refactor(ironfish): Remove `keyPath` from store
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/store.ts
  ironfish/src/storage/database/types.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

Fix database.test.ts
  ironfish/src/storage/database.test.ts
Due: ironfish

refactor(ironfish, ironfish-cli): Move `getConnectedClient` under `IronfishSdk`
  ironfish-cli/src/commands/accounts/export.test.ts
  ironfish-cli/src/commands/accounts/export.ts
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish-cli/src/commands/config/edit.ts
  ironfish-cli/src/commands/config/get.ts
  ironfish-cli/src/commands/config/set.ts
  ironfish-cli/src/commands/config/show.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

refactor(ironfish, ironfish-cli): Move `getConnectedClient` under `IronfishSdk` (#252)
  ironfish-cli/src/commands/accounts/export.test.ts
  ironfish-cli/src/commands/accounts/export.ts
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish-cli/src/commands/config/edit.ts
  ironfish-cli/src/commands/config/get.ts
  ironfish-cli/src/commands/config/set.ts
  ironfish-cli/src/commands/config/show.ts
  ironfish/src/sdk.test.ts
  ironfish/src/sdk.ts
Due: ironfish-cli, ironfish

refactor(ironfish): Remove `keyPath` from store and `KnownKeys` type (#251)
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/store.ts
  ironfish/src/storage/database/types.ts
  ironfish/src/storage/levelup/store.ts
Due: ironfish

chore: Update TypeScript version to 4.3.4
  config/tsconfig.base.json
  ironfish-cli/package.json
  ironfish-http-api/package.json
  ironfish-rosetta-api/package.json
  ironfish/package.json
  ironfish/src/account/accounts.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/primitives/target.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/workerPool/worker.ts
  package.json
  yarn.lock
Due: ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

feat(ironfish-cli): Add `graffiti` flag to start command
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

Refactor some return types from `BigInt` to `bigint`
  ironfish/src/account/accounts.ts
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/target.ts
Due: ironfish

Check graffiti against config
  ironfish-cli/src/commands/start.test.ts
  ironfish-cli/src/commands/start.ts
Due: ironfish-cli, ironfish

Carry `webRtcConnection` forward
  ironfish/src/network/peers/peer.ts
Due: ironfish

Remove transaction scope and type
  ironfish-cli/src/commands/chain/repair.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/storage/levelup/transaction.ts
Due: ironfish-cli, ironfish

chore: Update TypeScript version to 4.3.4 and compiler to ES2020 (#253)
  config/tsconfig.base.json
  ironfish-cli/package.json
  ironfish-http-api/package.json
  ironfish-rosetta-api/package.json
  ironfish/package.json
  ironfish/src/account/accounts.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/primitives/note.ts
  ironfish/src/primitives/target.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/workerPool/worker.ts
  package.json
  yarn.lock
Due: ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Dont rebroadcast transactions if not synced
  ironfish/src/account/accounts.ts
Due: ironfish

Rename sequence -> height
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.old.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/mining/director.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/chain/getChainInfo.ts
  ironfish/src/rpc/routes/chain/utils.ts
  ironfish/src/rpc/routes/events/types.ts
  ironfish/src/rpc/routes/events/utils.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/rpc/routes/peers/getPeers.ts
  ironfish/src/strategy.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
  ironfish/src/testUtilities/mocks.ts
  ironfish/src/testUtilities/strategy.ts
Due: ironfish

Remove reference to export in balance
  ironfish-cli/src/commands/accounts/balance.ts
Due: ironfish-cli, ironfish

Simplify payment synced requirement
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish

Simplify payment synced requirement (#259)
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
Due: ironfish

Dont rebroadcast transactions if not synced (#258)
  ironfish/src/account/accounts.ts
Due: ironfish

Add testRunner for jest config
  config/jest.config.base.js
  ironfish-cli/package.json
  ironfish-http-api/package.json
  ironfish-rosetta-api/package.json
  ironfish/package.json
  ironfish/src/testUtilities/fake/matchers/merkleTree.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
  ironfish/src/testUtilities/matchers/buffer.ts
  package.json
  yarn.lock
Due: ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Add skip to globalRpc test
  ironfish/src/network/messageRouters/globalRpc.test.ts
  package.json
  yarn.lock
Due: ironfish

Make chain:show default to last 50 blocks
  ironfish-cli/src/args.ts
  ironfish-cli/src/commands/chain/export.ts
  ironfish-cli/src/commands/chain/show.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/chain/getChain.ts
  ironfish/src/rpc/routes/chain/showChain.ts
  ironfish/src/rpc/routes/chain/utils.ts
  ironfish/src/utils/blockchain.ts
  ironfish/src/utils/index.ts
Due: ironfish-cli, ironfish

Run miner task on WorkerPool
  ironfish-cli/src/commands/miners/start.ts
  ironfish/package.json
  ironfish/src/mining/director.ts
  ironfish/src/mining/index.ts
  ironfish/src/mining/mineHeaderTask.test.ts
  ironfish/src/mining/mineHeaderTask.ts
  ironfish/src/mining/miner.test.ts
  ironfish/src/mining/miner.ts
  ironfish/src/workerPool/messages.ts
  ironfish/src/workerPool/pool.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish-cli, ironfish

Add database version and migration errors
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/database/store.ts
  ironfish/src/storage/database/types.ts
  ironfish/src/storage/levelup/database.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/fake/helpers/merkleTree.ts
Due: ironfish

Move database version to constant
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Add verify command to HTTP api to verify build
  ironfish-http-api/scripts/build-docker.sh
  ironfish-http-api/src/index.ts
Due: ironfish, ironfish-http-api

Verify rosetta docker buil
  ironfish-rosetta-api/scripts/build-docker.sh
  ironfish-rosetta-api/src/index.ts
Due: ironfish, ironfish-rosetta-api

Verify rosetta docker buil (#266)
  ironfish-rosetta-api/scripts/build-docker.sh
  ironfish-rosetta-api/src/index.ts
Due: ironfish, ironfish-rosetta-api

Push back Jest
  config/jest.config.base.js
  ironfish-cli/package.json
  ironfish-http-api/package.json
  ironfish-rosetta-api/package.json
  ironfish/package.json
  ironfish/src/testUtilities/fake/matchers/merkleTree.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
  ironfish/src/testUtilities/matchers/buffer.ts
  package.json
  yarn.lock
Due: ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish: any of: ironfish, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-http-api: any of: ironfish-http-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-rosetta-api: any of: ironfish-rosetta-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
