Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Make small changes to simplify block hash calculation (#414)
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/primitives/__snapshots__/target.test.ts.snap
  ironfish/src/primitives/blockheader.ts
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
  ironfish/src/serde/PartialHeaderSerde.ts
  ironfish/src/typedefs/bufio.d.ts
Due: ironfish

refactor(cli,ironfish,wasm): Remove redundant `transaction` prefix from `transactionHash` (#416)
  .github/workflows/rust_ci.yml
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/chain/block.ts
  ironfish-cli/src/commands/service/faucet.ts
  ironfish-wasm/src/wasm_structs/transaction.rs
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/memPool/memPool.test.ts
  ironfish/src/memPool/memPool.ts
  ironfish/src/primitives/transaction.test.slow.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/strategy.test.slow.ts
Due: ironfish-cli, ironfish

Fix compilation error on master
  ironfish/src/primitives/transaction.ts
  ironfish/src/strategy.test.slow.ts
Due: ironfish

Fix compilation error on master
  ironfish-cli/src/commands/service/faucet.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/strategy.test.slow.ts
Due: ironfish-cli, ironfish

Fix compilation error on master (#418)
  ironfish-cli/src/commands/service/faucet.ts
Due: ironfish-cli, ironfish

refactor(ironfish,cli,wasm): Remove `transaction` prefix from `transactionFee`
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/service/faucet.ts
  ironfish-wasm/src/wasm_structs/transaction.rs
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/director.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/workerPool/tasks/transactionFee.ts
  ironfish/src/workerPool/tasks/verifyTransaction.ts
Due: ironfish-cli, ironfish

cleanup-typing-in-messages: cleanup-typing-in-messages: Adjust loose message type (#396)
  ironfish/src/network/messages.ts
Due: ironfish

Allow getBlockInfo() RPC to search by sequence (#398)
  ironfish-cli/src/commands/chain/block.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
Due: ironfish-cli, ironfish

IRO-1191: Create PeerListRequest Message Type and Handler (#401)
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/version.ts
Due: ironfish

Fix rescan starting at current head (#404)
  ironfish/src/account/accounts.ts
Due: ironfish

Make version more prominent in start and status (#405)
  ironfish-cli/src/commands/start.ts
  ironfish-cli/src/commands/status.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/workerPool/worker.ts
Due: ironfish-cli, ironfish

WIP
  .github/workflows/test.yml
Due: none

WIP
  .github/workflows/foo.yml
  .github/workflows/test.yml
Due: none

WIP
  .github/workflows/foo.yml
Due: none

WIP
  .github/workflows/curl.yml
Due: none

WIP
  .github/workflows/ci.yml
Due: none

Fix lint error
  ironfish/src/network/peers/peerManager.test.ts
Due: ironfish

Basic removal function, may extend
  ironfish/src/network/peers/peerAddressManager.ts
Due: ironfish

Add test for removePeerAddress
  ironfish/src/network/peers/peerAddressManager.test.ts
Due: ironfish

Add complex PeerAddressManager logic from IRO-1193
  ironfish/src/network/peers/peerAddressManager.test.ts
  ironfish/src/network/peers/peerAddressManager.ts
  ironfish/src/network/testUtilities/helpers.ts
Due: ironfish

Add save to interval; mark stuff async as needed
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/node.ts
Due: ironfish

Make sure that knownPeers is updated after handling peer list request; add test
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Move ChainProcessor into its own file
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/index.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Move ChainProcessor into its own file (#420)
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/chainProcessor.ts
  ironfish/src/index.ts
  ironfish/src/rpc/routes/chain/followChain.ts
Due: ironfish

Remove peer address from PAM during tryDisposePeer
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

refactor(ironfish,cli,wasm): Remove `transaction` prefix from `transactionFee` (#419)
  ironfish-cli/src/commands/accounts/pay.ts
  ironfish-cli/src/commands/service/faucet.ts
  ironfish-wasm/src/wasm_structs/transaction.rs
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/director.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/rpc/routes/chain/followChain.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/getBlockInfo.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/sendTransaction.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/workerPool/tasks/transactionFee.ts
  ironfish/src/workerPool/tasks/verifyTransaction.ts
Due: ironfish-cli, ironfish

Changed remove undefined possibility on PeerAddress fields; add comments; rename function
  ironfish/src/network/peers/peerAddress.ts
  ironfish/src/network/peers/peerAddressManager.ts
Due: ironfish

Fix tests
  ironfish/src/network/peers/peerAddressManager.test.ts
  ironfish/src/network/testUtilities/mockHostsStore.ts
Due: ironfish

Add method for getting random disconnected peer
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Fix tests on PeerAddressManager
  ironfish/src/network/peers/peerAddressManager.test.ts
Due: ironfish

Fix lint
  ironfish/src/network/peers/peerManager.test.ts
Due: ironfish

Add addresses from peer list during peer list handling
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Update average mining block time to 60
  ironfish/src/consensus/consensus.ts
  ironfish/src/primitives/__fixtures__/transaction.test.slow.ts.fixture
  ironfish/src/primitives/target.test.ts
  ironfish/src/primitives/target.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/strategy.test.slow.ts
Due: ironfish

Fix deduplication bug in addAddressesFromPeerList
  ironfish/src/network/peers/peerAddressManager.ts
Due: ironfish

priorConnectedPeers probably should not be grown with old priors
  ironfish/src/network/peers/peerAddressManager.ts
Due: ironfish

Allow for null return in getRandomDisconnectedPeer
  ironfish/src/network/peers/peerAddressManager.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Attempt to use persisted peers when under target peers
  ironfish/src/network/peers/peerConnectionManager.ts
Due: ironfish

feat(rust,wasm): Add `expiration_sequence` to Transactions
  ironfish-rust/src/transaction/mod.rs
  ironfish-rust/src/transaction/simple.rs
  ironfish-rust/src/transaction/tests.rs
  ironfish-wasm/src/wasm_structs/transaction.rs
Due: ironfish-rust, ironfish

Pick CI changes
  .github/workflows/rust_ci.yml
Due: none

Run `cargo fmt`
  ironfish-wasm/src/wasm_structs/transaction.rs
Due: ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish: any of: ironfish, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-http-api: any of: ironfish-http-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-rosetta-api: any of: ironfish-rosetta-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
