Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

codecov.yml:

ignore:
  - config/*
  - ironfish-wasm/*
  - ironfish/src/aaptain/testUtilities/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      ironfish-http-api:
        target: 70%
        flags:
          - ironfish-http-api
      ironfish-rosetta-api:
        target: 75%
        flags:
          - ironfish-rosetta-api
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true
  ironfish-http-api:
    paths:
      - ironfish-http-api
    carryforward: true
  ironfish-rosetta-api:
    paths:
      - ironfish-rosetta-api
    carryforward: true

Upgrade block.test.ts with real tests
  ironfish/src/primitives/__fixtures__/block.old.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/primitives/block.test.ts
  ironfish/src/primitives/block.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
Due: ironfish

Remove TestStrategy from sendTransaction.test.ts
  ironfish/src/primitives/__snapshots__/blockheader.test.ts.snap
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
Due: ironfish

feat(http-api): Create migration for `accounts` table
  ironfish-http-api-v2/Procfile
  ironfish-http-api-v2/package.json
  ironfish-http-api-v2/prisma/migrations/20210708225747_create_accounts/migration.sql
  ironfish-http-api-v2/prisma/migrations/migration_lock.toml
  ironfish-http-api-v2/prisma/schema.prisma
  yarn.lock
Due: ironfish, ironfish-http-api

Add cuid to `accounts.id`
  ironfish-http-api-v2/prisma/schema.prisma
Due: ironfish, ironfish-http-api

Update accounts.id to be autoincrementing int
  ironfish-http-api-v2/prisma/migrations/20210708225747_create_accounts/migration.sql
  ironfish-http-api-v2/prisma/migrations/20210709125357_create_accounts/migration.sql
  ironfish-http-api-v2/prisma/schema.prisma
Due: ironfish, ironfish-http-api

feat(http-api): Create migration for `accounts` table (#290)
  ironfish-http-api-v2/Procfile
  ironfish-http-api-v2/package.json
  ironfish-http-api-v2/prisma/migrations/20210709125357_create_accounts/migration.sql
  ironfish-http-api-v2/prisma/migrations/migration_lock.toml
  ironfish-http-api-v2/prisma/schema.prisma
  yarn.lock
Due: ironfish, ironfish-http-api

fix(http-api): Call prisma migrate during the release phase
  ironfish-http-api-v2/Procfile
  ironfish-http-api-v2/package.json
Due: ironfish, ironfish-http-api

feat(http-api): Create events table
  ironfish-http-api-v2/prisma/migrations/20210709171941_create_events/migration.sql
  ironfish-http-api-v2/prisma/schema.prisma
Due: ironfish, ironfish-http-api

Add graffiti utils
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/mining/director.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/utils/graffiti.ts
  ironfish/src/utils/index.ts
Due: ironfish-cli, ironfish

Add graffiti utils (#286)
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/genesis/makeGenesisBlock.ts
  ironfish/src/mining/director.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/utils/graffiti.ts
  ironfish/src/utils/index.ts
Due: ironfish-cli, ironfish

Rewrite BlockHeader to not use TestStrategy
  ironfish/src/primitives/__snapshots__/blockheader.old.test.ts.snap
  ironfish/src/primitives/blockheader.old.test.ts
  ironfish/src/primitives/blockheader.test.ts
Due: ironfish

Rewrite BlockHeader to not use TestStrategy (#287)
  ironfish/src/primitives/__snapshots__/blockheader.old.test.ts.snap
  ironfish/src/primitives/blockheader.old.test.ts
  ironfish/src/primitives/blockheader.test.ts
Due: ironfish

Remove TestStrategy from sendTransaction.test.ts
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
Due: ironfish

Remove TestStrategy from sendTransaction.test.ts (#289)
  ironfish/src/rpc/routes/transactions/__fixtures__/sendTransaction.test.ts.fixture
  ironfish/src/rpc/routes/transactions/sendTransaction.test.ts
Due: ironfish

feat(http-api): Create accounts service
  .github/workflows/ci.yml
  .github/workflows/deploy-api-v2.yml
  ironfish-http-api-v2/.env.test
  ironfish-http-api-v2/docker-compose.sql
  ironfish-http-api-v2/package.json
  ironfish-http-api-v2/prisma/schema.prisma
  ironfish-http-api-v2/src/accounts/accounts.module.ts
  ironfish-http-api-v2/src/accounts/accounts.service.test.ts
  ironfish-http-api-v2/src/accounts/accounts.service.ts
  ironfish-http-api-v2/src/app.module.ts
  ironfish-http-api-v2/src/prisma/prisma.module.ts
  ironfish-http-api-v2/src/prisma/prisma.service.ts
  ironfish-http-api-v2/src/test/test-app.ts
  ironfish-http-api-v2/tsconfig.json
  yarn.lock
Due: ironfish, ironfish-http-api

Fix deploy script
  .github/workflows/deploy-api-v2.yml
Due: none

Expose ports
  .github/workflows/ci.yml
Due: none

Fix postgres password
  .github/workflows/ci.yml
Due: none

Run migrations in CI
  .github/workflows/ci.yml
Due: none

Add DATABASE_URL
  .github/workflows/ci.yml
Due: none

Use docker-compose
  .github/workflows/ci.yml
Due: none

Clean up MerkleTree and tests
  ironfish/src/blockchain/blockchain.old.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/merkletree/encoding.ts
  ironfish/src/merkletree/index.ts
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/merkletree/utils.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/testUtilities/fake/helpers/index.ts
  ironfish/src/testUtilities/fake/helpers/merkleTree.ts
  ironfish/src/testUtilities/fake/index.ts
  ironfish/src/testUtilities/fake/matchers/index.ts
  ironfish/src/testUtilities/helpers/merkletree.ts
  ironfish/src/testUtilities/helpers/storage.ts
  ironfish/src/testUtilities/matchers/index.ts
  ironfish/src/testUtilities/matchers/merkletree.ts
Due: ironfish

Wait for postgres container to start
  .github/workflows/ci.yml
Due: none

Clean up MerkleTree and tests (#294)
  ironfish/src/blockchain/blockchain.old.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/merkletree/encoding.ts
  ironfish/src/merkletree/index.ts
  ironfish/src/merkletree/merkletree.test.ts
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/merkletree/utils.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/testUtilities/fake/helpers/index.ts
  ironfish/src/testUtilities/fake/helpers/merkleTree.ts
  ironfish/src/testUtilities/fake/index.ts
  ironfish/src/testUtilities/fake/matchers/index.ts
  ironfish/src/testUtilities/helpers/merkletree.ts
  ironfish/src/testUtilities/helpers/storage.ts
  ironfish/src/testUtilities/matchers/index.ts
  ironfish/src/testUtilities/matchers/merkletree.ts
Due: ironfish

feat(http-api): Create accounts service (#293)
  .github/workflows/ci.yml
  .github/workflows/deploy-api-v2.yml
  ironfish-http-api-v2/.env.test
  ironfish-http-api-v2/docker-compose.sql
  ironfish-http-api-v2/package.json
  ironfish-http-api-v2/prisma/schema.prisma
  ironfish-http-api-v2/src/accounts/accounts.module.ts
  ironfish-http-api-v2/src/accounts/accounts.service.test.ts
  ironfish-http-api-v2/src/accounts/accounts.service.ts
  ironfish-http-api-v2/src/app.module.ts
  ironfish-http-api-v2/src/prisma/prisma.module.ts
  ironfish-http-api-v2/src/prisma/prisma.service.ts
  ironfish-http-api-v2/src/test/test-app.ts
  ironfish-http-api-v2/tsconfig.json
  yarn.lock
Due: ironfish, ironfish-http-api

feat(api): Generate Prisma schema after running migrations
  ironfish-http-api-v2/Procfile
Due: ironfish, ironfish-http-api

feat(api): Create service for events
  ironfish-http-api-v2/src/app.module.ts
  ironfish-http-api-v2/src/events/events.module.ts
  ironfish-http-api-v2/src/events/events.service.test.ts
  ironfish-http-api-v2/src/events/events.service.ts
  ironfish-http-api-v2/src/test/test-app.ts
Due: ironfish, ironfish-http-api

feat(api): Create controller to fetch accounts
  ironfish-http-api-v2/src/accounts/accounts.controller.test.ts
  ironfish-http-api-v2/src/accounts/accounts.controller.ts
  ironfish-http-api-v2/src/accounts/accounts.module.ts
Due: ironfish, ironfish-http-api

s/prismaService/prisma
  ironfish-http-api-v2/src/accounts/accounts.controller.test.ts
  ironfish-http-api-v2/src/accounts/accounts.service.test.ts
Due: ironfish, ironfish-http-api

s/prismaService/prisma
  ironfish-http-api-v2/src/events/events.service.test.ts
Due: ironfish, ironfish-http-api

feat(api): Generate Prisma schema after running migrations (#296)
  ironfish-http-api-v2/Procfile
Due: ironfish, ironfish-http-api

feat(api): Create service for events (#297)
  ironfish-http-api-v2/src/app.module.ts
  ironfish-http-api-v2/src/events/events.module.ts
  ironfish-http-api-v2/src/events/events.service.test.ts
  ironfish-http-api-v2/src/events/events.service.ts
  ironfish-http-api-v2/src/test/test-app.ts
Due: ironfish, ironfish-http-api

feat(api): Create controller to fetch account (#298)
  ironfish-http-api-v2/src/accounts/accounts.controller.test.ts
  ironfish-http-api-v2/src/accounts/accounts.controller.ts
  ironfish-http-api-v2/src/accounts/accounts.module.ts
Due: ironfish, ironfish-http-api

fix(api): Move @prisma/client to dependencies
  ironfish-http-api-v2/package.json
Due: ironfish, ironfish-http-api

fix(api): Move @prisma/client to dependencies (#299)
  ironfish-http-api-v2/package.json
Due: ironfish, ironfish-http-api

feat(api): Add method to fetch paginated event records
  ironfish-http-api-v2/src/common/constants.ts
  ironfish-http-api-v2/src/common/interfaces/pagination-options.ts
  ironfish-http-api-v2/src/events/events.service.test.ts
  ironfish-http-api-v2/src/events/events.service.ts
  ironfish-http-api-v2/src/events/interfaces/list-events-options.ts
Due: ironfish, ironfish-http-api

feat(api): Add metrics endpoint with validation only
  ironfish-http-api-v2/package.json
  ironfish-http-api-v2/src/accounts/__snapshots__/accounts.controller.test.ts.snap
  ironfish-http-api-v2/src/accounts/accounts.controller.test.ts
  ironfish-http-api-v2/src/accounts/accounts.controller.ts
  ironfish-http-api-v2/src/accounts/dto/metrics-query.dto.ts
  ironfish-http-api-v2/src/accounts/enums/metrics-granularity.ts
  ironfish-http-api-v2/src/common/constants.ts
  yarn.lock
Due: ironfish, ironfish-http-api

feat(api): Add method to fetch paginated event records (#300)
  ironfish-http-api-v2/src/common/constants.ts
  ironfish-http-api-v2/src/common/interfaces/pagination-options.ts
  ironfish-http-api-v2/src/events/events.service.test.ts
  ironfish-http-api-v2/src/events/events.service.ts
  ironfish-http-api-v2/src/events/interfaces/list-events-options.ts
Due: ironfish, ironfish-http-api
