Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Fix readd block command
  ironfish-cli/src/commands/chain/readdblock.ts
Due: ironfish-cli, ironfish

Fixed graph explorer
  ironfish-cli/src/commands/chain/export.ts
  ironfish-graph-explorer/src/index.js
Due: ironfish-cli, ironfish

WIP
  ironfish/src/rpc/routes/chain/getChainInfo.test.ts
Due: ironfish

Switch simple-peer to iron-fish fork (#144)
  ironfish/package.json
  yarn.lock
Due: ironfish

WIP
  foo
Due: none

Fix start test
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish-cli, ironfish

Remove other log
  ironfish/src/syncer.ts
Due: ironfish

Fix lint
  ironfish-cli/src/commands/start.test.ts
Due: ironfish-cli, ironfish

Update import.ts
  ironfish-cli/src/commands/accounts/import.ts
Due: ironfish-cli, ironfish

Set github actions to pull request
  .github/workflows/ci.yml
  .github/workflows/rust_ci.yml
Due: none

Set github actions to pull request (#151)
  .github/workflows/ci.yml
  .github/workflows/rust_ci.yml
Due: none

Extend test time to 7 seconds
  ironfish/src/rpc/routes/chain/getChainInfo.test.ts
Due: ironfish

Refactor syncer orphan checking
  ironfish/src/syncer.ts
Due: ironfish

Dont kick peers from sending duplicate blocks
  ironfish/src/syncer.ts
Due: ironfish

Dont require passing args into getChainInfo
  ironfish-rosetta-api/src/services/Network.ts
  ironfish-rosetta-api/src/syncer/Syncer.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/chain/getChainInfo.test.ts
  ironfish/src/rpc/routes/chain/getChainInfo.ts
Due: ironfish, ironfish-rosetta-api

Dont require passing args into getChainInfo (#153)
  ironfish-rosetta-api/src/services/Network.ts
  ironfish-rosetta-api/src/syncer/Syncer.ts
  ironfish/src/rpc/clients/rpcClient.ts
  ironfish/src/rpc/routes/chain/getChainInfo.test.ts
  ironfish/src/rpc/routes/chain/getChainInfo.ts
Due: ironfish, ironfish-rosetta-api

Dont kick peers from sending duplicate blocks (#156)
  ironfish/src/syncer.ts
Due: ironfish

Update rust-toolchain to 1.52.1
  ironfish-rust/Cargo.lock
  ironfish-rust/Cargo.toml
  ironfish-wasm/Cargo.lock
  ironfish-wasm/Cargo.toml
  rust-toolchain
Due: ironfish-rust, ironfish

Update ironfish-cli/src/commands/chain/readdblock.ts
  ironfish-cli/src/commands/chain/readdblock.ts
Due: ironfish-cli, ironfish

Update ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Update ironfish/src/blockchain/utils.ts
  ironfish/src/blockchain/utils.ts
Due: ironfish

Add restart option to Compose file
  tools/docker-compose.yml
Due: none

Add restart option to Compose file (#148)
  tools/docker-compose.yml
Due: none

Refactor block syncing (#100)
  ironfish/src/blockSyncer.test.ts
  ironfish/src/blockSyncer.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/director.ts
  ironfish/src/network/__snapshots__/peerNetwork.test.ts.snap
  ironfish/src/network/messageRouters/gossip.test.ts
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/version.ts
  ironfish/src/node.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/rpc/routes/peers/getPeers.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/testUtilities/mocks.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
  ironfish/src/utils/error.ts
  ironfish/src/utils/math.ts
Due: ironfish

Add toAddBlock matcher (#137)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/testUtilities/matchers/blockchain.ts
Due: ironfish

Add more tests for new blockchain add (#138)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Refactor blockchain.addBlock (#135)
  ironfish/src/assert.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/schema.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/node.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/typedefs/blru.ts
  ironfish/src/typedefs/buffer-map.d.ts
  ironfish/src/utils/hash.ts
Due: ironfish

Exchange chain info in networking handshake (#92)
  ironfish-cli/src/commands/peers/list.ts
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/mockLocalPeer.ts
  ironfish/src/network/version.ts
  ironfish/src/platform.ts
  ironfish/src/rpc/routes/peers/getPeers.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish-cli, ironfish

Add hash to next table (#139)
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/schema.ts
Due: ironfish

Add syncer test for actually syncing
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/matchers/buffer.ts
  ironfish/src/testUtilities/matchers/index.ts
Due: ironfish

Add syncer test for actually syncing (#158)
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/matchers/buffer.ts
  ironfish/src/testUtilities/matchers/index.ts
Due: ironfish

Change default bootstrap node in staging branch
  ironfish/src/fileStores/config.ts
Due: ironfish

Fix actions to only run once
  .github/workflows/ci.yml
  .github/workflows/rust_ci.yml
Due: none

Fix clippy warnings
  ironfish-rust/src/keys/mod.rs
  ironfish-rust/src/keys/view_keys.rs
  ironfish-rust/src/merkle_note.rs
  ironfish-rust/src/receiving.rs
  ironfish-rust/src/transaction/mod.rs
Due: ironfish-rust, ironfish

Path conditions:
  ironfish-rust: any of: ironfish-rust, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-cli: any of: ironfish-cli, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish: any of: ironfish, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-http-api: any of: ironfish-http-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
  ironfish-rosetta-api: any of: ironfish-rosetta-api, but not: config/*, ironfish-wasm/*, ironfish/src/aaptain/testUtilities/*
