Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

codecov.yml:

ignore:
  - config/*
  - ironfish-wasm/*
  - ironfish/src/aaptain/testUtilities/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      ironfish-http-api:
        target: 70%
        flags:
          - ironfish-http-api
      ironfish-rosetta-api:
        target: 75%
        flags:
          - ironfish-rosetta-api
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true
  ironfish-http-api:
    paths:
      - ironfish-http-api
    carryforward: true
  ironfish-rosetta-api:
    paths:
      - ironfish-rosetta-api
    carryforward: true

Add third case
  ironfish/src/storage/database.test.ts
Due: ironfish

Remove saveReconnect from blockchain
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Remove saveReconnect from blockchain (#216)
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Clean up buffer size and optional argument
  ironfish/src/storage/database/encoding.ts
Due: ironfish

Make test fail in order issues
  ironfish/src/storage/database.test.ts
Due: ironfish

Add comment explaining sleep in test
  ironfish/src/storage/database.test.ts
Due: ironfish

Update network version
  ironfish/src/network/version.ts
Due: ironfish

Add the new genesis block
  ironfish/src/genesis/genesisBlock.ts
Due: ironfish

Disable autoseed when creating a genesis block
  ironfish-cli/src/commands/chain/genesisblock.ts
Due: ironfish-cli, ironfish

Start updating fixtures
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/mining/__snapshots__/director.test.slow.ts.snap
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
Due: ironfish

Generate new fixtures
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
Due: ironfish

Add perf fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
Due: ironfish

push up slow fixtures
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/mining/__snapshots__/director.test.slow.ts.snap
Due: ironfish

Lock database before executing transaction handlers (#219)
  ironfish/src/merkletree/merkletree.ts
  ironfish/src/storage/database.test.ts
  ironfish/src/storage/database/database.ts
  ironfish/src/storage/database/transaction.ts
Due: ironfish

refactor(ironfish): Update `sequence` type to `number` (#218)
  ironfish-cli/src/commands/chain/export.ts
  ironfish-cli/src/commands/chain/repair.ts
  ironfish/src/account/accounts.test.slow.ts
  ironfish/src/account/accounts.ts
  ironfish/src/account/accountsdb.ts
  ironfish/src/blockchain/blockchain.old.test.ts
  ironfish/src/blockchain/blockchain.test.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/schema.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/genesis/genesis.test.slow.ts
  ironfish/src/mining/director.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/primitives/__snapshots__/blockheader.test.ts.snap
  ironfish/src/primitives/blockheader.test.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
  ironfish/src/rpc/routes/chain/getBlock.test.ts
  ironfish/src/rpc/routes/chain/getBlock.ts
  ironfish/src/rpc/routes/chain/utils.ts
  ironfish/src/rpc/routes/events/utils.ts
  ironfish/src/storage/database/encoding.ts
  ironfish/src/strategy.test.slow.ts
  ironfish/src/strategy.ts
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/testUtilities/fixtures.ts
  ironfish/src/testUtilities/helpers/blockchain.ts
  ironfish/src/testUtilities/mocks.ts
  ironfish/src/testUtilities/strategy.ts
  ironfish/src/workerPool/pool.test.slow.ts
Due: ironfish-cli, ironfish

feat(ironfish-cli): Support rescanning without an active node
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/routes/accounts/index.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
  ironfish/src/rpc/routes/accounts/utils.test.ts
  ironfish/src/rpc/routes/accounts/utils.ts
Due: ironfish-cli, ironfish

Update `sequence` type in `onTransaction`
  ironfish/src/rpc/routes/accounts/utils.ts
Due: ironfish

Fix lint warnings
  ironfish/src/rpc/routes/accounts/utils.test.ts
Due: ironfish

Update network version and genesis block (#221)
  ironfish-cli/src/commands/chain/genesisblock.ts
  ironfish/src/account/__fixtures__/accounts.test.slow.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.perf.ts.fixture
  ironfish/src/blockchain/__fixtures__/blockchain.test.ts.fixture
  ironfish/src/consensus/__fixtures__/verifier.test.ts.fixture
  ironfish/src/genesis/genesisBlock.ts
  ironfish/src/mining/__fixtures__/director.test.slow.ts.fixture
  ironfish/src/network/version.ts
  ironfish/src/primitives/__fixtures__/block.test.ts.fixture
  ironfish/src/rpc/routes/chain/__fixtures__/getBlock.test.ts.fixture
Due: ironfish-cli, ironfish

Clarify PATH in README
  README.md
Due: none

Remove a lot of repeated code and replace with `getConnectedClient`
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish-cli/src/commands/accounts/rescan.ts
  ironfish/src/account/accounts.ts
  ironfish/src/rpc/routes/accounts/index.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.test.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
  ironfish/src/rpc/routes/accounts/utils.test.ts
  ironfish/src/rpc/routes/accounts/utils.ts
Due: ironfish-cli, ironfish

s/doMock/mock
  ironfish-cli/src/commands/accounts/rescan.test.ts
Due: ironfish-cli, ironfish

Minor clean-up
  ironfish-cli/src/commands/accounts/rescan.ts
Due: ironfish-cli, ironfish

Fix lint (trailing whitespace)
  ironfish-cli/src/commands/accounts/rescan.ts
Due: ironfish-cli, ironfish

Move state getters and setters
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Move state getters and setters (#224)
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Clarify PATH in README (#223)
  README.md
Due: none

Keep old fork around in chain:forks
  ironfish-cli/src/commands/chain/forks.ts
Due: ironfish-cli, ironfish

Add confirmation to delete backup
  ironfish-cli/src/commands/reset.ts
Due: ironfish-cli, ironfish

Reset crash fix by not autoseeding
  ironfish-cli/src/commands/reset.ts
Due: ironfish-cli, ironfish

Make iterate errors optional
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Make iterate errors optional (#227)
  ironfish/src/account/accounts.ts
  ironfish/src/blockchain/blockchain.ts
Due: ironfish

Reset crash fix by not autoseeding (#226)
  ironfish-cli/src/commands/reset.ts
Due: ironfish-cli, ironfish

Keep old fork around in chain:forks (#225)
  ironfish-cli/src/commands/chain/forks.ts
Due: ironfish-cli, ironfish

Add missing `openDB` call
  ironfish-cli/src/commands/config/show.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.ts
Due: ironfish-cli, ironfish

Update tests
  ironfish-cli/src/commands/accounts/rescan.test.ts
  ironfish/src/rpc/routes/accounts/rescanAccount.test.ts
Due: ironfish-cli, ironfish

refactor(ironfish): Replace `Validity` enum with a boolean
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/director.test.slow.ts
  ironfish/src/primitives/transaction.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/testUtilities/fake/verifier.ts
Due: ironfish

chore(ironfish): Remove `typedoc`
  ironfish/package.json
  typedoc.json
  yarn.lock
Due: ironfish

Fix snapshots
  ironfish/src/blockchain/blockchain.old.test.ts
Due: ironfish

Fix strategy slow test
  ironfish/src/strategy.test.slow.ts
Due: ironfish
