Repository iron-fish/ironfish: changes, and which Codecov flags are due for each by the changed paths.
All: ironfish-rust, ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

codecov.yml:

ignore:
  - config/*
  - ironfish-wasm/*
  - ironfish/src/aaptain/testUtilities/*
comment: false
github_checks:
  annotations: false
coverage:
  fixes:
    - "/home/runner/work/ironfish/ironfish/::/"
  status:
    patch:
      default:
        target: auto
        threshold: 50%
    project:
      default:
        target: 63%
      ironfish-rust:
        target: 53%
        flags:
          - ironfish-rust
      ironfish-cli:
        target: 50%
        flags:
          - ironfish-cli
      ironfish:
        target: 60%
        flags:
          - ironfish
      ironfish-http-api:
        target: 70%
        flags:
          - ironfish-http-api
      ironfish-rosetta-api:
        target: 75%
        flags:
          - ironfish-rosetta-api
      event:
        target: 84%
        flags:
          - event
      logger:
        target: 90%
        flags:
          - logger
      serde:
        target: 90%
        flags:
          - serde
flags:
  ironfish-rust:
    paths:
      - ironfish-rust
    carryforward: true
  ironfish-cli:
    paths:
      - ironfish-cli
    carryforward: true
  ironfish:
    paths:
      - ironfish
    carryforward: true
  ironfish-http-api:
    paths:
      - ironfish-http-api
    carryforward: true
  ironfish-rosetta-api:
    paths:
      - ironfish-rosetta-api
    carryforward: true

Update ironfish-wasm/build.js
  ironfish-wasm/build.js
Due: none

Install wasm-pack from wasm-pack website (#93)
  README.md
  ironfish-cli/Dockerfile
  ironfish-http-api/Dockerfile
  ironfish-rosetta-api/Dockerfile
  ironfish-wasm/build.js
Due: ironfish-cli, ironfish, ironfish-http-api, ironfish-rosetta-api

Update codecov action to 1.4.1
  .github/workflows/rust_ci.yml
Due: none

Update lerna and typedoc dependencies
  ironfish/package.json
  package.json
  yarn.lock
Due: ironfish

Move typedefs into typedefs folder
  ironfish-cli/src/typedefs/json-colorizer.d.ts
  ironfish-cli/src/typedefs/wrtc.d.ts
  ironfish-http-api/src/typedefs/openapi.d.ts
  ironfish-http-api/src/typedefs/swagger-routes-express.d.ts
  ironfish/src/storage/hex-array.d.ts
  ironfish/src/typedefs/bfilter.d.ts
  ironfish/src/typedefs/buffer-map.d.ts
  ironfish/src/typedefs/hex-array.d.ts
  ironfish/src/typedefs/level-errors.d.ts
  ironfish/src/typedefs/node-ipc.d.ts
  ironfish/src/typedefs/parse-json.d.ts
  ironfish/src/typedefs/wrtc.d.ts
Due: ironfish-cli, ironfish, ironfish-http-api

Update ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/peers/peerManager.ts
Due: ironfish

Move block syncer add speed to blockchain
  ironfish/src/blockSyncer.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/utils/bench.ts
  ironfish/src/utils/index.ts
Due: ironfish

Update codecov action to 1.4.1 (#95)
  .github/workflows/rust_ci.yml
Due: none

Update lerna and typedoc dependencies (#96)
  ironfish/package.json
  package.json
  yarn.lock
Due: ironfish

Add missing fields to verification
  ironfish/src/network/messages.ts
Due: ironfish

Move typedefs into typedefs folder (#97)
  ironfish-cli/src/typedefs/json-colorizer.d.ts
  ironfish-cli/src/typedefs/wrtc.d.ts
  ironfish-http-api/src/typedefs/openapi.d.ts
  ironfish-http-api/src/typedefs/swagger-routes-express.d.ts
  ironfish/src/storage/hex-array.d.ts
  ironfish/src/typedefs/bfilter.d.ts
  ironfish/src/typedefs/buffer-map.d.ts
  ironfish/src/typedefs/hex-array.d.ts
  ironfish/src/typedefs/level-errors.d.ts
  ironfish/src/typedefs/node-ipc.d.ts
  ironfish/src/typedefs/parse-json.d.ts
  ironfish/src/typedefs/wrtc.d.ts
Due: ironfish-cli, ironfish, ironfish-http-api

Move block syncer add speed to blockchain (#98)
  ironfish/src/blockSyncer.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/utils/bench.ts
  ironfish/src/utils/index.ts
Due: ironfish

Return Result from Wasm functions
  ironfish-rust/src/errors.rs
  ironfish-wasm/Cargo.lock
  ironfish-wasm/Cargo.toml
  ironfish-wasm/src/lib.rs
  ironfish-wasm/src/panic_hook/mod.rs
  ironfish-wasm/src/wasm_structs/errors.rs
  ironfish-wasm/src/wasm_structs/mod.rs
  ironfish-wasm/src/wasm_structs/note.rs
  ironfish-wasm/src/wasm_structs/note_encrypted.rs
  ironfish-wasm/src/wasm_structs/spend_proof.rs
  ironfish-wasm/src/wasm_structs/transaction.rs
  ironfish-wasm/src/wasm_structs/witness.rs
Due: ironfish-rust, ironfish

Sort the peers list by connection state by default
  ironfish-cli/src/commands/peers/list.ts
Due: ironfish-cli, ironfish

Sort the peers list by connection state by default (#104)
  ironfish-cli/src/commands/peers/list.ts
Due: ironfish-cli, ironfish

Add enableSyncer config setting
  ironfish/src/fileStores/config.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
Due: ironfish

Add enableSyncer config setting (#105)
  ironfish/src/fileStores/config.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/node.ts
Due: ironfish

Log to explicit file if node segfaults
  ironfish-cli/bin/run
Due: ironfish-cli, ironfish

Return Result from Wasm functions (#103)
  ironfish-rust/src/errors.rs
  ironfish-wasm/Cargo.lock
  ironfish-wasm/Cargo.toml
  ironfish-wasm/src/lib.rs
  ironfish-wasm/src/panic_hook/mod.rs
  ironfish-wasm/src/wasm_structs/errors.rs
  ironfish-wasm/src/wasm_structs/mod.rs
  ironfish-wasm/src/wasm_structs/note.rs
  ironfish-wasm/src/wasm_structs/note_encrypted.rs
  ironfish-wasm/src/wasm_structs/spend_proof.rs
  ironfish-wasm/src/wasm_structs/transaction.rs
  ironfish-wasm/src/wasm_structs/witness.rs
Due: ironfish-rust, ironfish

Log to explicit file if node segfaults (#106)
  ironfish-cli/bin/run
Due: ironfish-cli, ironfish

Update WebRTC-related packages
  ironfish-cli/package.json
  ironfish/package.json
  yarn.lock
Due: ironfish-cli, ironfish

Disable core dumps in Docker image
  ironfish-cli/Dockerfile
  ironfish-cli/scripts/entrypoint.sh
Due: ironfish-cli, ironfish

Change wrtc mock to simple-peer mock
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peerConnectionManager.test.ts
  ironfish/src/network/peers/peerManager.test.ts
Due: ironfish

Disable core dumps in Docker image (#109)
  ironfish-cli/Dockerfile
  ironfish-cli/scripts/entrypoint.sh
Due: ironfish-cli, ironfish

Update WebRTC-related packages (#107)
  ironfish-cli/package.json
  ironfish/package.json
  ironfish/src/network/peers/peer.test.ts
  ironfish/src/network/peers/peerConnectionManager.test.ts
  ironfish/src/network/peers/peerManager.test.ts
  yarn.lock
Due: ironfish-cli, ironfish

Creating ironfish-beta docker package
  .github/workflows/deploy-node-aws.yml
  .github/workflows/deploy-node-github-beta.yml
  ironfish-cli/scripts/deploy-docker.sh
Due: ironfish-cli, ironfish

Creating ironfish-beta docker package (#110)
  .github/workflows/deploy-node-aws.yml
  .github/workflows/deploy-node-github-beta.yml
  ironfish-cli/scripts/deploy-docker.sh
Due: ironfish-cli, ironfish

Github action name change to create beta package
  .github/workflows/deploy-node-github-beta.yml
Due: none

Github action name change to create beta package (#111)
  .github/workflows/deploy-node-github-beta.yml
Due: none

Exchange chain info in networking handshake (#92)
  ironfish-cli/src/commands/peers/list.ts
  ironfish-cli/src/commands/start.test.ts
  ironfish/src/network/messages.test.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/localPeer.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.test.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/testUtilities/mockLocalPeer.ts
  ironfish/src/network/version.ts
  ironfish/src/platform.ts
  ironfish/src/rpc/routes/peers/getPeers.ts
  ironfish/src/testUtilities/mocks.ts
Due: ironfish-cli, ironfish

Add New BlockSyncer
  ironfish/src/blockSyncer.test.ts
  ironfish/src/blockSyncer.ts
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/consensus/consensus.ts
  ironfish/src/consensus/verifier.test.ts
  ironfish/src/consensus/verifier.ts
  ironfish/src/mining/director.ts
  ironfish/src/network/__snapshots__/peerNetwork.test.ts.snap
  ironfish/src/network/messageRouters/gossip.ts
  ironfish/src/network/messageRouters/rpc.ts
  ironfish/src/network/messages.ts
  ironfish/src/network/peerNetwork.test.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/network/peers/peer.ts
  ironfish/src/network/peers/peerManager.ts
  ironfish/src/network/version.ts
  ironfish/src/node.ts
  ironfish/src/primitives/blockheader.ts
  ironfish/src/rpc/routes/node/getStatus.test.ts
  ironfish/src/rpc/routes/node/getStatus.ts
  ironfish/src/rpc/routes/peers/getPeers.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/fake/helpers/blockchain.ts
  ironfish/src/testUtilities/fake/strategy.ts
  ironfish/src/testUtilities/mocks.ts
  ironfish/src/utils/error.ts
  ironfish/src/utils/math.ts
Due: ironfish

Fix peer.head error
  ironfish/src/syncer.ts
Due: ironfish

Enforce consensus max request limit
  ironfish/src/consensus/consensus.ts
  ironfish/src/network/peerNetwork.ts
  ironfish/src/syncer.ts
Due: ironfish

Add first tests for Syncer
  ironfish/src/syncer.test.ts
  ironfish/src/syncer.ts
  ironfish/src/testUtilities/nodeTest.ts
  ironfish/src/testUtilities/routeTest.ts
Due: ironfish

Disable segfault-handler on Windows
  ironfish-cli/bin/run
Due: ironfish-cli, ironfish

Add Graph Explorer
  ironfish-cli/src/commands/chain/export.ts
  ironfish-graph-explorer/README.md
  ironfish-graph-explorer/package.json
  ironfish-graph-explorer/screenshot.png
  ironfish-graph-explorer/src/DMMono.woff
  ironfish-graph-explorer/src/Roboto.woff
  ironfish-graph-explorer/src/data.json
  ironfish-graph-explorer/src/index.html
  ironfish-graph-explorer/src/index.js
  ironfish-graph-explorer/src/style.css
  ironfish-graph-explorer/webpack.config.js
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/index.ts
  ironfish/src/index.ts
Due: ironfish-cli, ironfish

Fix ancestor search considering islands cache hit
  ironfish/src/blockchain/blockchain.ts
  ironfish/src/blockchain/index.ts
  ironfish/src/index.ts
  ironfish/src/syncer.ts
Due: ironfish

Update ironfish-graph-explorer/README.md
  ironfish-cli/src/commands/chain/export.ts
  ironfish-graph-explorer/README.md
  ironfish-graph-explorer/package.json
Due: ironfish-cli, ironfish

Zoom in on latest node first
  ironfish-graph-explorer/src/index.js
Due: ironfish

Color nodes by graffiti string
  ironfish-graph-explorer/src/index.js
Due: ironfish
